body {
    display: grid;
    place-content: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    font-family: sans-serif;
}

#clock {
    font-size: 5rem;
    font-weight: bold;
}

.am-pm {
    font-size: 1rem;
    color: gray;
}